In [58]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv("../data/raw/job_postings_processed.csv")

In [60]:
selected_columns = ['title', 'max_salary', 'min_salary', 'pay_period', 'formatted_work_type', 
                    'location', 'remote_allowed', 'formatted_experience_level', 'application_type']
df_selected = df[selected_columns]

In [61]:
regions = {
    "Northeast": ['ME', 'NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'PA', 'NJ', 'DE', 'MD'],
    "Southeast": ['FL', 'GA', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA'],
    "Midwest": ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD'],
    "Southwest": ['AZ', 'NM', 'OK', 'TX'],
    "West": ['CO', 'ID', 'MT', 'NV', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA']
}

In [62]:
df_selected = df_selected.copy()
df_selected.loc[:, 'state_code'] = df_selected['location'].str.split(',').str[-1].str.strip()

# Flatten the regions dictionary to a reverse map where each state maps directly to its region
state_to_region = {state: region for region, states in regions.items() for state in states}

# Use the pandas map function to apply this new dictionary to the state_code column
df_selected['region'] = df_selected['state_code'].map(state_to_region)

In [63]:
df_cleaned = df_selected[df_selected['region'] != 'Others']

In [64]:
df_cleaned

,title,max_salary,min_salary,pay_period,formatted_work_type,location,remote_allowed,formatted_experience_level,application_type,state_code,region
0,Principal Cloud Security Architect (Remote),275834.0,205956.0,YEARLY,Full-time,United States,1.0,Mid-Senior level,OffsiteApply,United States,NaN
1,Insights Analyst - Auto Industry,64000.0,58000.0,YEARLY,Full-time,United States,1.0,Entry level,OffsiteApply,United States,NaN
2,Sales Manager,350000.0,125000.0,YEARLY,Full-time,"Coeur d'Alene, ID",1.0,Mid-Senior level,ComplexOnsiteApply,ID,West
3,Body Technician,30.0,20.0,HOURLY,Full-time,"Waukesha, WI",NaN,Entry level,OffsiteApply,WI,Midwest
4,Controls Engineer,150000.0,121000.0,YEARLY,Full-time,"Orlando, FL",NaN,Mid-Senior level,OffsiteApply,FL,Southeast
...,...,...,...,...,...,...,...,...,...,...,...
11106,Administrative Assistant,20.0,18.0,HOURLY,Part-time,"Ocoee, FL",NaN,NaN,ComplexOnsiteApply,FL,Southeast
11107,Registered Nurse (RN) Vaccinator,50.0,50.0,HOURLY,Part-time,"Muskegon, MI",NaN,NaN,ComplexOnsiteApply,MI,Midwest
11108,Office Associate,42000.0,37000.0,YEARLY,Full-time,"Albany, GA",NaN,NaN,ComplexOnsiteApply,GA,Southeast
11109,Licensed Insurance Agent,52000.0,45760.0,YEARLY,Full-time,"Chico, CA",NaN,NaN,ComplexOnsiteApply,CA,West
11110,Stylist/ Clorist,80000.0,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,NaN,ComplexOnsiteApply,IL,Midwest

In [65]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11111 entries, 0 to 11110
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       11111 non-null  object
 1   max_salary                  11111 non-null  float64
 2   min_salary                  11111 non-null  float64
 3   pay_period                  11111 non-null  object
 4   formatted_work_type         11111 non-null  object
 5   location                    11111 non-null  object
 6   remote_allowed              1881 non-null   float64
 7   formatted_experience_level  8262 non-null   object
 8   application_type            11111 non-null  object
 9   state_code                  11111 non-null  object
 10  region                      8960 non-null   object
dtypes: float64(3), object(8)
memory usage: 955.0+ KB

In [66]:
file_path = '../data/processed/cleaned_job_postings.csv'
df_cleaned.to_csv(file_path, index=False)