In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/job_postings_processed.csv")

In [3]:
selected_columns = ['title', 'max_salary', 'min_salary', 'pay_period', 'formatted_work_type', 
                    'location', 'remote_allowed', 'formatted_experience_level', 'application_type']
df_selected = df[selected_columns]

In [4]:
regions = {
    "Northeast": ['ME', 'NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'PA', 'NJ', 'DE', 'MD'],
    "Southeast": ['FL', 'GA', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA'],
    "Midwest": ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD'],
    "Southwest": ['AZ', 'NM', 'OK', 'TX'],
    "West": ['CO', 'ID', 'MT', 'NV', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA']
}

def get_region(state_code):
    for region, states in regions.items():
        if state_code in states:
            return region
    return "Others"

In [5]:
df_selected = df_selected.copy()
df_selected.loc[:, 'state_code'] = df_selected['location'].str.split(',').str[-1].str.strip()
df_selected.loc[:, 'region'] = df_selected['state_code'].apply(get_region)

In [6]:
df_cleaned = df_selected[df_selected['region'] != 'Others']

In [7]:
df_cleaned

,title,max_salary,min_salary,pay_period,formatted_work_type,location,remote_allowed,formatted_experience_level,application_type,state_code,region
2,Sales Manager,350000.0,125000.0,YEARLY,Full-time,"Coeur d'Alene, ID",1.0,Mid-Senior level,ComplexOnsiteApply,ID,West
3,Body Technician,30.0,20.0,HOURLY,Full-time,"Waukesha, WI",NaN,Entry level,OffsiteApply,WI,Midwest
4,Controls Engineer,150000.0,121000.0,YEARLY,Full-time,"Orlando, FL",NaN,Mid-Senior level,OffsiteApply,FL,Southeast
5,CDL Class B Driver,27.0,25.0,HOURLY,Full-time,"Oakland, CA",NaN,Mid-Senior level,OffsiteApply,CA,West
6,"Senior Manager, Indirect Procurement",143000.0,96000.0,YEARLY,Full-time,"Broomfield, CO",NaN,Mid-Senior level,SimpleOnsiteApply,CO,West
...,...,...,...,...,...,...,...,...,...,...,...
11106,Administrative Assistant,20.0,18.0,HOURLY,Part-time,"Ocoee, FL",NaN,NaN,ComplexOnsiteApply,FL,Southeast
11107,Registered Nurse (RN) Vaccinator,50.0,50.0,HOURLY,Part-time,"Muskegon, MI",NaN,NaN,ComplexOnsiteApply,MI,Midwest
11108,Office Associate,42000.0,37000.0,YEARLY,Full-time,"Albany, GA",NaN,NaN,ComplexOnsiteApply,GA,Southeast
11109,Licensed Insurance Agent,52000.0,45760.0,YEARLY,Full-time,"Chico, CA",NaN,NaN,ComplexOnsiteApply,CA,West
11110,Stylist/ Clorist,80000.0,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,NaN,ComplexOnsiteApply,IL,Midwest

In [8]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8960 entries, 2 to 11110
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       8960 non-null   object
 1   max_salary                  8960 non-null   float64
 2   min_salary                  8960 non-null   float64
 3   pay_period                  8960 non-null   object
 4   formatted_work_type         8960 non-null   object
 5   location                    8960 non-null   object
 6   remote_allowed              691 non-null    float64
 7   formatted_experience_level  6596 non-null   object
 8   application_type            8960 non-null   object
 9   state_code                  8960 non-null   object
 10  region                      8960 non-null   object
dtypes: float64(3), object(8)
memory usage: 840.0+ KB

In [9]:
file_path = '../data/processed/cleaned_job_postings.csv'
df_cleaned.to_csv(file_path, index=False)